@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');
:root{
    --navy: #061A4C;
    --pitch: #ECE7D8;
    --white: #F6F6F3;
    --orange: #FF5700;
    --grey: rgb(253, 247, 247);

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Raleway';
}

/* Hero */

.header{
    background-color: var(--grey);
}

.center{
    margin: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero__heading{
  color: var(--navy);  
  font-size: 4rem;
  line-height: 60px;
  font-weight: 700;
}

.hero__text{
   color: gray;
   font-weight: 500;
   margin: 2rem 3rem .5rem 0;
    
}

.apply-button {
    background-color: var(--orange);
    color: var(--white);
    border: none;
    font-size: medium;
    padding: 1rem  1.5rem;
    margin-top: 1rem;
    font-weight: 700;
    border-radius: 3rem;
    cursor: pointer;
    transition: background-color 1s ease;
}

.apply-button:hover {
    background-color: darkorange;
}

.right-content{
    margin-top: 2rem;
}

img{
    width: 100%;
    margin-top: 1.5rem;

}

@media only screen and (min-width: 1024px){
    .center{
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .content-left{
        width: 40%;
    }

    .hero__heading{
        font-size: 3.5rem;
    }

    .hero__text{
        font-size: 1.2rem;
    }

    img{
        margin-left: 2rem;
    }
   }

/* Footer */

 /* footer */
 .joint{
    text-align: center;
    background-color: lightblue;
    padding: 1rem 1.5rem 3rem 1.5rem;
    color: grey;
    height: 50%;
 }

 .main-footer__links{
    margin-top: 2.5rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr );
    
 }
 .main-footer__link{
    list-style-type: none;
    font-weight: 600;
    
 }


 .out-field{
    margin-top: 1.3rem;
 }
 
 .footer-type{
     text-decoration: none;
     color: gray;
 }
 
 .footer-type:hover{
     color: rgb(163, 159, 159);
    
 }
 
 .copywright{
     margin-top: 2rem;
     font-weight: 600;
 }
     
 @media only screen and (min-width: 1024px){
     .joint{
         display: flex;
         justify-content: space-between;
     }
 
     .main-footer__links{
         list-style-type: none;
         display: flex;
         justify-content: space-between;
         margin-top: 2rem;
     }

     .out-field{
        margin-top: 0;
     }
 
     .footer-type{
         margin: 2rem;
         text-decoration: none;
     }
 
     .copywright{
         margin: 1.5rem;
     }
 }

 /* apply */
 .apply{
    text-align: center;
 }

 .offer{
    color: var(--navy);
    margin-top: 1.5rem;
 }

 @media only screen and (min-width: 1024px){
    .apply__flex{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .offer{
        margin-left: 1.5rem;
    }
 }

 /* Testimonials */

.testimonial{
    background-color: var(--pitch);
    color: var(--navy);
}

.top{
    padding-top: 4rem;
    font-weight: 700;
    font-size: 30px;
}


.testimonial__container{
    text-align: center;
    margin: 0 1.3rem;
}

.testimonial__content{
    padding: 1rem 2rem 3rem 2rem;
}

.testimonial__text{
    color: rgb(87, 86, 86);
    margin:0 1rem 1rem 1rem ;
}



@media only screen and (max-width: 800px){
    .cut-out{
        display: none;
    }
}

@media only screen and (min-width: 1024px){

    .top{
        padding-top: 5rem;
    }
    .testimonial__grid{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        align-items: center;
        justify-content: center;
        padding: 1.5rem 7rem 4rem 7rem;
    }

    .name{
        margin-bottom: 1rem;
    }
}